body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

body.dark {
    background-color: #000;
    color: #fff;
}

body.light {
    background-color: #fff;
    color: #000;
}

#app {
    text-align: center;
}

.big-text {
    font-weight: bold;
    line-height: 1;
}

#controls {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
} 